<%= form_for(@orderer) do |f| %>
  <% if @orderer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orderer.errors.count, "error") %> prohibited this orderer from being saved:</h2>

      <ul>
      <% @orderer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
