<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calendar_id %><br>
    <%= f.number_field :calendar_id %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.text_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :agreement_id %><br>
    <%= f.number_field :agreement_id %>
  </div>

  <div class="field">
    <%= f.label :start_time %><br>
      <%= f.text_field :start_time  %>    
<!--    <div class='input-group date datetimepicker'>-->
<!--      <%= f.text_field :start_time, class: 'form-control' %>-->
 <!--     <span class="input-group-addon">-->
 <!--       <span class="fa fa-calendar"></span>-->
 <!--     </span>-->
 <!--   </div>-->
  </div>

  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.text_field :end_time, class: "content" %>
<!--    <div class='input-group date datetimepicker'>-->
<!--       <%= f.text_field :end_time, class: 'form-control' %>-->
<!--       <span class="input-group-addon">-->
<!--         <span class="fa fa-calendar"></span>-->
<!--       </span>-->
<!--     </div>-->
  </div>

  <div class="field">
    <%= f.label :work_time %><br>
    <%= f.number_field :work_time %>
  </div>
<p>
  <strong>Over work time:</strong>
   <%= f.number_field :over_time %>
</p>

<p>
  <strong>Late night over time:</strong>
   <%= f.number_field :late_night_over_time %>
</p>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
