<p id="notice"><%= notice %></p>

<p>
  <strong>Calendar:</strong>
  <%= @work.calendar_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @work.staff_id %>
</p>


<p>
  <strong>Agreement:</strong>
  <%= @work.agreement_id %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @work.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work.end_time %>
</p>

<p>
  <strong>Work time:</strong>
  <%= @work.work_time %>
</p>

<p>
  <strong>Over work time:</strong>
  <%= @work.over_work_time %>
</p>

<p>
  <strong>Late night over time:</strong>
  <%= @work.late_night_over_time %>
</p>

<p>
  <strong>note:</strong>
  <%= @work.note %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
