<%= form_for(@agreement) do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %> prohibited this agreement from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

    <div class="field">
    <%= f.label :abbreviation %><br>
    <%= f.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>

<%= form_for @agreement do |f| %>
  <%= f.label :orderer_id %>
  <%= f.collection_select :orderer_id, Orderer.all, :id, :name %>
<% end %>

  <div class="field">
    <%= f.label :constraction_date %><br>
    <%= f.text_field :constraction_date %>
  </div>

    <div class="field">
    <%= f.label :completion_date %><br>
    <%= f.text_field :completion_date %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
