<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agreement.name %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @agreement.orderer_id %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
