<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agreement.name %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @agreement.orderer_id %>
</p>
<p>
  <strong>Orderer:</strong>
  <%= @agreement.orderr.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @agreement.abbreviation %>
</p>

<p>
  <strong>Code:</strong>
  <%= @agreement.code %>
</p>

<p>
  <strong>constraction_date:</strong>
  <%= @agreement.constraction_date %>
</p>

<p>
  <strong>completion_date:</strong>
  <%= @agreement.completion_date %>
</p>

<%= link_to 'Edit', edit_agreement_path(@agreement) %> |
<%= link_to 'Back', agreements_path %>
