<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constraction.name %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @constraction.orderer_id %>
</p>

<p>
  <strong>Orderer:</strong>
  <%= @constraction.orderer.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @constraction.abbreviation %>
</p>

<p>
  <strong>Code:</strong>
  <%= @constraction.code %>
</p>

<p>
  <strong>constraction_date:</strong>
  <%= @constraction.constraction_date %>
</p>

<p>
  <strong>completion_date:</strong>
  <%= @constraction.completion_date %>
</p>

<%= link_to 'Edit', edit_constraction_path(@constraction) %> |
<%= link_to 'Back', constractions_path %>
